 body,
  html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87ceeb; /* фон страницы */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .info {
    color: white;
    text-align: center;
    position: relative;
    top: 50px;
    display: block;
    margin: 0 auto;
  }

  .hello-text {    
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .info-text {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  canvas {
    display: block;
    margin: 0 auto;
    background-color: #87ceeb; /* фон неба */
  }

  #playButton {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4caf50;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    width: 100px;
    font-weight: 700;
  }

  #playButton:hover {
    background-color: #00ca33;
  }

  #gameOverText {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: white;
    font-weight: bold;
  }